/* Estilos para la barra lateral derecha flotante */
#extended-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #f8f9fa;
    border-left: 1px solid #ddd;
    overflow-y: auto;
    z-index: 1000;
    display: none;
}

#extended-sidebar.active {
    display: block;
}
